@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="bg-rose-400">Welcome to</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section scripts{
    <script>
        $(document).ready(function(){
            alert("Hello");
            
        })
    </script>
}